<dal name="demo">
	<databaseSets ignoreResourceNotFound="sharding">
	    <cluster name="dbatestdbapplydb_dalcluster" />
	    <cluster name="dbadalclustertest01db_dalcluster" />
	    <cluster name="fxcachedb_dalcluster" />
	</databaseSets>

    <LogListener>
        <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
    </LogListener>
    <ConnectionLocator>
        <settings>
            <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
        </settings>
    </ConnectionLocator>
    <TaskFactory>
        <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
    </TaskFactory>
</dal>